/**
 * Main Style
 *
 * You can use this scss file to '@import' other scss
 * files in the order you want them to be concatenated
 * at. Then the build task will concatenate and compress
 * in that order.
 */

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

#header {
  background: #2c3e50;
  padding: 90px 0;
  margin-bottom: 40px;
}

#header h1 {
  color: #fff;
  font-weight: 700;
}

#header p {
  color: #fefefe;
}