
header img{
 	display:block;
	width:300px;
	padding-top: 5px;
}

.text-center{
	text-align:center;
}

.main{
width: 100%;
height: auto;
background-repeat:no-repeat;
background-image: url(../img/hackers.png);
background-size: cover;
background-attachment: fixed;
background-position: center;
}

.intro{
  padding-top:40px;
  padding-bottom:60px;
}

.main h1{
  color: #FFF;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 52px;
}

#item h2{

}