<div id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Almost there! Just a few more things...</h1>
        <p>You now have a running node application. There are a few things
        you must do before you can start writing your own code. Welcome to the
        NodeJs world!</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Step 1 - Rename your application</h1>
      <p>Open the <code>package.json</code> file and type your own application
      name on the <code>"name"</code> field. It is very important that you dont
      skip this step! You will see why next...</p>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Step 2 - Building your assets</h1>
      <p>Your css and javascript sources are in the <code>assets/src</code>
      directory. When you change this files, you must compile the <code>sass</code>
      files and compress the javascript files. A grunt task will make this for you.</p>
      <p>Run <code>grunt build</code>. This will create the <code>assets/dist</code>
      directory for you, it will move the fonts and imgs, and you will
      see the minified css and javascript files there.</p>
      <div class="alert alert-info">
        If you need sourcemaps to your javascript files, run <code>grunt build:dev</code> instead.
      </div>
      <p>
        <b>So how do you include css and javascript files in your html? Like this:</b><br><br>
        <span class="label label-success">Correct:</span> <code>&lt;link rel=&quot;stylesheet&quot; href=&quot;/assets/application-name.css&quot;&gt;</code><br>
        <span class="label label-danger">Wrong:</span> <code>&lt;link rel=&quot;stylesheet&quot; href=&quot;/assets/dist/application-name.css&quot;&gt;</code><br><br>
        As you can see, the router will forward any call to the <code>/assets</code> folder into <code>/assets/dist</code>.<br>
        <span class="label label-info">NOTE</span> Run <code>grunt watch</code> on the background
        to build your assets automatically when they change.
      </p>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Step 3 - Debug Mode</h1>
      <p>To make development easier, you can run <code>grunt debug</code> which will start your application in development mode
      and will restart it when any <code>.js</code> or <code>.hbs</code> file changes.</p>
    </div>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Step 4 - Routing Groups</h1>
      <p>Express allows you to create your own routers and group the by URI. Doing so in this boilerpalte is very simple.
      You define your routers on <code>app/routes.js</code> and assign them the router that should be located in the
      <code>routers</code> folder.</p>
    </div>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Grunt Tasks</h1>
      <table class="table">
        <tr>
          <td>grunt build</td>
          <td>Builds your assets (Compile SASS, Compress JS)</td>
        </tr>
        <tr>
          <td>grunt debug</td>
          <td>Starts the application in debug mode (Auto-Restart on file change)</td>
        </tr>
        <tr>
          <td>grunt watch</td>
          <td>Compile SASS and compress JS automatically when they change</td>
        </tr>
      </table>
      <hr>
    </div>
  </div>
</div>