$buttonColor: #F3F3F3;
$li-font:0.9em;

a{
	text-decoration:none;
	font-family:Helvetica;
}

nav ul{
  display: table;
  margin-left: auto;
  margin-right: 0;
}

nav ul li{
	display: table-cell;
	width: auto;
	text-align: center;
	list-style: none;
	padding-top:15px;
	padding-bottom:13px;
	font-size:$li-font;
	&:last-child a{
		border: solid 1px $buttonColor;
		border-radius: 3px;
		color: $buttonColor;
		margin-left: 12px;
		outline: 0;
	}
	&:last-child a:hover {
	  background: $buttonColor;
	  color: #575757;
	}
}

nav ul li a{
	color:$buttonColor;
	padding:15px 14px;
	text-transform:uppercase;
}

nav ul li i{
	font-size:1.7em;
	vertical-align:middle;
	margin-right:5px;
}

.content img{
	display:block;
	width:300px;
	padding-top: 5px;
}