$buttonColor: #F3F3F3;
$buttonDark: darken($buttonColor, 7%);
$li-font:0.9em;

a{
	text-decoration:none;
	font-family:Helvetica;
}

nav ul{
  display: table;
  margin-left: auto;
  margin-right: 0;
}

nav ul li{
	display: table-cell;
	width: auto;
	text-align: center;
	list-style: none;
	padding-top:15px;
	padding-bottom:13px;
	font-size:$li-font;
	&:last-child a{
		background: $buttonColor;
		border-radius: 3px;
		border: 0;
		color: rgb(87, 87, 87);
		outline: 0;
	}
	&:last-child a:hover {
	  background: $buttonDark;
	}
}

nav ul li a{
	color:#F3F3F3;
	padding:15px 20px;
	text-transform:uppercase;
}

nav ul li i{
	font-size:1.7em;
	vertical-align:middle;
	margin-right:5px;
}

img{
	display:block;
	width:300px;
	padding-top: 5px;
}