$buttonColor: #F3F3F3;
$darker-buttonColor:darken($buttonColor, 3%);
$li-font:0.9em;

header{
	padding-top:10px;
}

a{
	text-decoration:none;
	font-family:Helvetica;
}

nav ul{
  display: table;
  margin-left: auto;
  margin-right: 0;
}

nav ul li{
	display: table-cell;
	width: auto;
	text-align: center;
	list-style: none;
	padding-top:15px;
	padding-bottom:13px;
	font-size:$li-font;
	&:last-child a{
		background: $buttonColor;
	    color: #575757;
		border-radius: 3px;
		margin-left: 12px;
		outline: 0;
	}
	&:last-child a:hover {
	  background-color:$darker-buttonColor;
	  border-bottom:solid 2px transparent;
	}
}

nav ul li a{
	border-bottom:solid 2px transparent;
	color: #575757;
	padding:15px 14px;
	text-transform:uppercase;
	transition:color 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	&:hover{
		border-bottom:solid 2px #575757;
		transition: border 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	} 
}

nav ul li i{
	font-size:1.7em;
	vertical-align:middle;
	margin-right:5px;
}

.content img{
	display:block;
	width:300px;
	padding-top: 5px;
}

header img{
	padding-top:12px;
	width:300px;
}